$dark-blue: #071a41;
$blue: #3d5a96;
$green: #63b132;
$gray: #dadada;

a {
  text-decoration: none;
  color:black;
}

#dashboard {
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  padding:0;
  margin-left:0.5rem;
  margin-top:0.5rem;
  .settings-wrapper {
    display:block;
    width:100%;
    height:2rem;
    .settings-button {
      display:block;
      width:2rem;
      height:100%;
      &:hover {
        opacity: 0.75;
        cursor: pointer;
      }
    }
  }
}

.dashboard-item {
  display:block;
  border-radius: 0.5rem;
  border: 3px solid $blue;
  color: $dark-blue;
  margin-top:1rem;
}

.dashboard-item {
  margin-right:1rem;
  box-sizing: border-box;
  width: 15rem;
  height: 15rem;
}

.new-repl {
  text-align: center;
  padding-top: 6.5rem;
}

.repl-overview {
  position:relative;
  text-align: center;
  .delete {
    width:1.5rem;
    height:1.5rem;
    position:absolute;
    top:0.5rem;
    right:0.5rem;
    cursor: pointer;
    &:hover {
      opacity: 0.75;
    }
  }
  .edit {
    width:1.5rem;
    height:1.5rem;
    position:absolute;
    top:0.5rem;
    right:2.5rem;
    cursor: pointer;
    &:hover {
      opacity: 0.75;
    }
  }
  .repl-type {
    display:inline-block;
    position:absolute;
    top:4rem;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    img {
      width:3rem;
      height:3rem;
    }
  }
  .repl-directory {
    display: block;
    position:absolute;
    top: 8rem;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:13rem;
    height:2rem;
    overflow:overlay;
    white-space:nowrap;
    direction:rtl;
    &::-webkit-scrollbar {
      display:none;
    }
  }
}

.back-nav {
  display:block;
  position:fixed;
  height:100%;
  width:3rem;
  background-image: url('resources/images/back.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:3rem;
  padding-left:1rem;
  padding-right:1rem;
  &:hover {
    background-color: $gray;
  }
}

form {
  margin-left: 6rem;
  .save {
    display:inline-block;
    padding:0.5rem;
    background-color: $green;
    color:white;
    &:hover {
      opacity: 0.75;
    }
    &.disabled {
      background-color: $gray;
      &:hover {
        opacity: 1;
        cursor: default;
      }
    }
  }
}

.button {
  display:inline-block;
  padding:0.5rem;
  background-color: $blue;
  color:white;
  &:hover {
    opacity: 0.75;
  }
  &.disabled {
    background-color: $gray;
    &:hover {
      opacity: 1;
      cursor: default;
    }
  }
}

select {
  &:disabled {
    background-color: $gray;
  }
}

#edit-repl {
  form {
    .directory {
      margin-top: 2rem;
    }
    .type {
      margin-top: 1rem;
      .type-checkbox ~ .type-checkbox {
        margin-left:1rem;
      }
    }
    .new-directory {
      margin-left: 1rem;
    }
  }
}

#settings {
  form {
    .clj-jar {
      margin-top: 2rem;
      label[for="clj-custom-source"] {
        margin-left:1rem;
      }
      .custom-clj-jar {
        width:11rem;
        margin-top:1rem;
      }
      .download-clj-jar {
        margin-left: 1rem;
      }
      .select-downloaded {
        width:11rem;
        margin-top:1rem;
      }
      .new-clj-jar {
        margin-left: 1rem;
      }
    }
  }
}
